block vars
  - pageLinks = pageLinks || [{link:"/",text:"Home"},{link:"/wedding-photography",text:"Weddings"},{link:"/photo-gallery",text:"Photo Gallery"},{link:"/photography-booking",text:"Bookings"}];

mixin navLinks(pageLinks)
  ul
    each link in pageLinks
      if link.active
        li(href!='link.link' class="active")= link.text
      else
        li(href!='link.link')= link.text