extends modules/_page.jade

block vars
  - pageLinks = [{link:"/",text:"Home",active:true},{link:"/wedding-photography",text:"Weddings"},{link:"/photo-gallery",text:"Photo Gallery"},{link:"/photography-booking",text:"Bookings"},{link:"/blog",text:"Blog"}];
  - marqueeImageUrl = "image.jpg";